<!-- <p id="notice"><%= notice %></p> -->

<div class="header">
  <h1>before I die..</h1>
</div>
<div class="todo_lists">
<% if @todo_lists.length == 0 %>
  <div class="todo_list">
    <h2>Don't You have dreams?</h2>
    <p>Click + below and begin to help yourself organize.</p>
    <br>
  </div>
  <%= image_tag("dream_big.jpg", width: "400")%>
<% else %>
  <% @todo_lists.each do |todo_list| %>
    <%= link_to todo_list do %>
      
        <% if todo_list.todo_items.count > 0 && todo_list.todo_items.count == todo_list.todo_items.complete.count %>
          <div class="todo_list todo_list_done">
            <div class="left">
              <p><%= time_ago_in_words(todo_list.created_at) %> ago</p>
            </div>
            <div class="center">
              <p class="todo_list_title"><%= todo_list.title %></p>
              <p class="todo_list_description"><%= truncate(todo_list.description, length: 40) %></p>   
              <img src="/done1.png" alt="DONE!" class="done_stamp"/>         
            </div>
            <div class="right">
              <p>100%</p>
            </div>
          </div>
        <% else %>
          <div class="todo_list">
            <div class="left">
              <p><%= time_ago_in_words(todo_list.created_at) %> ago</p>
            </div>
            <div class="center">
              <p class="todo_list_title"><%= todo_list.title %></p>
              <p class="todo_list_description"><%= truncate(todo_list.description, length: 40) %></p>            
            </div>
            <div class="right">
              <% if todo_list.todo_items.count > 0 %>
                <p><%= todo_list.todo_items.complete.count*100/todo_list.todo_items.count %>%</p>
              <% else %>
                <p>0 %</p>
              <% end %>
            </div>
          </div>
        <% end %>
    <% end %>
  <% end %>
<% end %>

</div>
<div class="footer">
  <%= link_to new_todo_list_path do %>
  <i class="fa fa-plus fa-3x add_todo_list" aria-hidden="true"></i>
<% end %>
  <!-- <p>App made by BooHoo.</p> -->
</div>

